@import "tailwindcss";

:root {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}

#root {
  overflow-x: hidden;
}

.react-card-flip {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
